* body {
  background-color: rgb(199, 193, 177);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  font-family: "Reggae One", serif;
  text-decoration: underline;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.button {
  width: 100px;
  height: 40px;
  margin: 0px 20px;
  outline: none;
  background-color: rgb(176, 176, 180);
  border: 2px solid black;
  color: black;
  border-radius: 10px;
  font-family: "Reggae One", serif;
  font-size: 16px;
}

.button:hover {
  transform: scale(1.1);
}

#container {
  display: grid;
  justify-content: center;
  margin: auto;
  height: 500px;
  width: 500px;
  grid-auto-rows: 20px;
  border: 2px solid black;
  background-color: white;
}

.squares {
  border: 0.1px solid grey;
}

#clear {
  background-color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Reggae One", serif;
  font-size: 18px;
  padding-top: 50px;
  position: sticky;
}

.fa-paint-brush {
  margin: 0px 30px;
  color: black;
}

@media screen and (max-width: 680px) {
  #container {
    height: 420px;
    width: 420px;
  }

  .button {
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  #container {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  #container {
    height: 310px;
    width: 310px;
  }
  .button {
    width: 80px;
    height: 30px;
    font-size: 13px;
  }

  .buttons-container {
    margin: 40px 0px;
    flex-wrap: wrap;
  }
  #clearBtn {
    margin-bottom: 10px;
  }
  #blackBtn {
    margin-bottom: 10px;
  }
}
